@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;

}

a {
    display: inline-block;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}
.common_btn{
    padding: 14px 28px;
    border-radius: 100px;
    background: #2F93FD;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.common_heading h3{
    font-size: 24px;
    font-weight: 500;
    color: #37B865;
    position: relative;
}
.common_heading h3::after{
    content: "";
    width: 66px;
    height: 4px;
    background-color: #37B865;
    position: absolute;
    left: 0;
    top: -12px;
}
.common_heading h2{
    font-size: 48px;
    font-weight: 800;
    color: #001838;
    padding: 12px 0 24px;
}
.common_heading p{
    font-size: 20px;
    font-weight: 400;
    color: #486489;
    padding-bottom: 56px;
}

/* =================
   common css end
==================== */
/* ==================
   menu part start 
====================*/
.main_menu {
    padding: 24px 0;
}
.main_menu ul{
    gap: 42px;
}
.main_menu ul li a{
    font-size: 18px;
    font-weight: 600;
    color:#2D4A68 !important;
    display: flex;
    gap: 12px;
    align-items: center;
    transition: .3s;
}
.main_menu ul li a:hover{
    color: #2F93FD !important;
}
/* ==================
   menu part end 
====================*/
/* ==================
   banner part start 
====================*/
#banner{
    padding: 205px 0 173px;
    background: url("../images/banner.png");
    background-size: cover;
    background-position: right;
}
.banner_text h1{
    font-size: 64px;
    font-weight: 800;
    color: #001838;
}
.banner_text p{
    padding: 24px 0 56px;
    font-size: 20px;
    font-weight: 400;
    color: #486489;
}
.banner_button .watch img{
    width: 54px;
    margin-right: 16px;
    
}
.banner_button .watch {
    font-size: 18px;
    font-weight: 700;
    color: #37B865;
    margin-left: 40px;
}
/* ==================
   banner part end 
====================*/
/* =========================
   about company part start 
===========================*/
#about_company{
    padding-top: 120px;
}
.aboutCompany_img{
    position: relative;
}
.aboutCompany_img .cart{
    width: fit-content;
    padding: 0 30px 20px;
    box-shadow: 15px 19px 41px -6px rgba(0,0,131,0.15);
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
}
.aboutCompany_img .cart .cart_icon{
    width: 63px;
    margin-left: auto;
}
.aboutCompany_img .cart h4{
    font-size: 64px;
    font-weight: 800;
    color: #37B865;
}
.aboutCompany_img .cart h4 span{
    font-size: 20px;
    font-weight: 700;
    color: #001838;
}
.aboutCompany_img .cart p{
    font-size: 35px;
    font-weight: 700;
    color: #001838;
}

.aboutCompany_details p span{
    display: block;
    padding-top: 24px;
}
/* =========================
   about company part end 
===========================*/
/* ==================
   counter part start 
====================*/
#counter{
    padding: 90px;
    background: #003173;
    position: relative;
}
.counter_body{
    display: flex;
    justify-content: center;
}
.counter_body .counter_items:first-child{
    padding-left: 0;
}
.counter_body .counter_items:last-child{
    padding-right: 0;
    border-right: none;
}
.counter_items {
    text-align: center;
    padding: 0 60px;
    border-right: 1px solid #37B865;
}
.counter_items h3{
    font-size: 48px;
    font-weight: 700;
    color: #fff;
}
.counter_items p{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.counter_star{
    position: absolute;
    right: 0;
    bottom: 50%;
}
/* ==================
   counter part end 
====================*/
/* ==================
   services part start 
====================*/
#services{
    padding: 110px 0;
    background: url("../images/service_rectangle.png");
    background-repeat: no-repeat;
    background-position: right 0 top 218px;
}
.service_body{
    border-top: 1px solid #FFF2F2;
    border-bottom: 1px solid #FFF2F2;
}
.services_head{
    text-align: center;
    width: 712px;
    margin: auto;
}
.services_head h3::after{
    left: 50%;
    transform: translateX(-50%);
}
.services_items{
    padding: 70px 30px;
    text-align: center;
    background-color: #fff;
}
.services_items.slick-center{
    border-right: 1px solid #FFF2F2;
    border-left: 1px solid #FFF2F2;
}
.services_items .service_icon{
    width: 90px;
    margin: auto;
}
.services_items h4{
    padding: 48px 0 24px;
    font-size: 24px;
    font-weight: 800;
    color: #001838;
}
.services_items p{
    font-size: 18px;
    font-weight: 300;
    color: #486489;
}
.service_body .prevArr,
.service_body .nextArr{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    border: none;
    background-color: transparent;
    font-size: 26px;
    color: #001838;
}
.service_body .prevArr{
    left: -72px;
}
.service_body .nextArr{
    right: -72px;
    
}
.service_body .prevArr:hover,
.service_body .nextArr:hover{
    color: #2F93FD;
}
.service_body .slick-dots{
    display: flex;
    gap: 15px;
    justify-content: center;
}
.service_body .slick-dots li button{
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:#37B865;
    border: 1px solid black;
}
.service_body .slick-dots .slick-active button{
    background-color: #2F93FD;
    width: 15px;
    height: 15px;
}
/* ==================
   services part end 
====================*/
/* ==================
   choose us part start 
====================*/
#choose_us{
    padding-bottom: 110px;
}
.chooseus_benefit{
    display: flex;
    align-items: center;
    gap: 15px;
}
.chooseus_head{
    margin-top: 40px;
}
.choose_img{
    width: 524px;
}
.benefits{
    border: 1px solid #FFD9D9;
    border-radius: 5px;
    overflow: hidden;
    height: fit-content;
}
.benefits .benefits_items:nth-child(2){
    border-top: 1px solid #FFD9D9;
    border-bottom: 1px solid #FFD9D9;
}
.benefits_items .benefit_icon{
    width: 80px;
    height: 80px;
    background-color: #F0FFF5;
    color: #37B865;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.benefits_items p{
    font-size: 18px;
    font-weight: 700;
    color: #001838;
    padding: 24px 37px;
}
/* ==================
   choose us part end 
====================*/
/* ==================
   projects part start 
====================*/
#projects{
    padding-top: 80px;
    margin-bottom: 128px;
    background-color: #003173;
    height: 560px;
    position: relative;
}
.project_star{
    position: absolute;
    bottom: 0;
}
.row{
    position: relative;
}
.projects_heading {
    align-items: end;
    margin-bottom: 56px;
}
.projects_heading h2,
.projects_heading p{
    color: #fff;
    padding-bottom: 0;
}

.projects_items{
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.projects_items .project_details{
    width: calc(100% - 16px);
    padding: 8px 30px ;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.70);
    position:absolute;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%, 115%);
    border-radius: 4px;
    transition: .3s;
}
.projects_items:hover .project_details{
    transform: translate(-50%, 0);
}
.projects_items .project_details h4{
    font-size: 22px;
    font-weight: 700;
    color: #001838;
}
.projects_items .project_details p{
    font-size: 18px;
    font-weight: 500;
    color: #37B865;
}

.project_dot{
    width: 124px;
    position: absolute;
    bottom: -35px;
    right: -35px;
    z-index: -1;
}
/* ==================
   projects part end 
====================*/
/* ==================
   feedback part start 
====================*/
#feedback{
    padding: 128px 0 110px;
}
.feedback_fixed{
    position: relative;
}
.feed_dots {
    width: 124px;
    position: absolute;
    bottom: 125px;
    /* right: -35px; */
    left: 85px;
    z-index: -1;
}
/* ==================
   feedback part end 
====================*/
/* ==================
   news part start 
====================*/
#news{
    padding-bottom: 110px;
}
.news_heading{
    width: 750px;
    margin: auto;
    text-align: center;
    margin-bottom: 56px;
}
.news_heading h3::after{
    left: 50%;
    transform: translateX(-50%);
}
.news_items{
    box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.05);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.news_items:hover{
    box-shadow: 22px 29px 110px -4px rgba(201,201,244,0.44);
}
.news_details{
    padding: 52px 30px 30px ;
    position: relative;
}

.news_details .date{
    background-color: #37B865;
    width: fit-content;
    padding: 0 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 12px;
    position: absolute;
    left: 30px;
    top: -16% ;
}
.news_details .date h3{
    font-size: 48px;
    font-weight: 700;
    color: #fff;
}
.news_details .date p{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
.news_details .date p span{
    display: block;
}
.news_details h4{
    font-size: 16px;
    font-weight: 400;
    color: #37B865;
}
.news_details h4 span{
    padding-right: 24px;
    border-right: 1px solid #37B865;
    margin-right: 24px;
}
.news_details h5{
    font-size: 20px;
    font-weight: 700;
    color: #000;
    padding: 20px 0 28px;
}
.news_details h5::after{
    content: "";
    width: 66px;
    height: 4px;
    background-color: #37B865;
    position: absolute;
    left: 40px;
    bottom: 95px;
}
.news_details p{
    font-size: 18px;
    font-weight: 400;
    color: #486489;
}


/* ==================
   news part end 
====================*/
/* ==================
   footer part start 
====================*/
#footer{
    padding: 140px 0 57px;
    background-color: #0B3A77;
}
.footer_logo{
    width: 135px;
}
.footer_des{
    font-size: 18px;
    font-weight: 400;
    color: #fefefe;
    font-family: "Nunito", sans-serif;
    margin-top: 44px;
}
.footer_menu {
    width: fit-content;
    margin: auto;
}
.footer_menu h3{
    font-size: 24px;
    font-weight: 600;
    color: #fefefe;
    margin-bottom: 48px;
}
.footer_menu ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer_menu ul li a{
    font-size: 20px;
    font-weight: 600;
    color: #fefefe;
    font-family: "Nunito", sans-serif;
}
.footer_foot{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.footer_foot ul{
    display: flex;
    gap: 60px;
}
.footer_foot p,
.footer_foot ul li a{
    font-size: 18px;
    font-weight: 400;
    color: #fefefe;
    font-family: "Nunito", sans-serif;
}
/* ==================
   footer part end 
====================*/
/* ==================
   menu part start 
====================*/
/* ==================
   menu part end 
====================*/